# Ignorar archivos compilados de Java
*.class

# Ignorar archivos comprimidos
*.zip

# Ignorar archivos temporales de sistema
*.tmp
*.log
.DS_Store
Thumbs.db

# Ignorar carpetas del IDE (Visual Studio Code, IntelliJ, etc.)
.vscode/
.idea/
bin/
out/
